@import "_variables.scss";

:host{
    display: flex;
    flex-direction: column;
    padding-inline: 4em;
    padding-block:2em;
    background: $grey-to-blue-gradient;
    width: 100%;
    gap: 0.5em;
    color:white;
    overflow: hidden;
    
    h3{
        font-weight: 800;
        font-family: 'Karla', sans-serif;
        margin-right: 0;
        width: 4em;
    }
    h1{
        font-weight: 900;
        font-size: 3rem;
        letter-spacing: -5px;
        align-self: center;
        font-family: 'Karla', sans-serif;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: max-content;
        max-width: 60vw;
        margin: 0;
        padding-block:1.2rem;
        padding-inline: 0.2rem;
    }
}

.user-image{
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 200px;
        height: 200px;
        text-align: center;
        vertical-align: center;
        background-color: rgb(43, 43, 43);
        color: white;
        border-radius: 100px;
        box-shadow: 0px 0px 5px 5px rgba(73, 72, 72, 0.609);
        max-width: unset;
        object-fit: cover;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        text-align: center;
        vertical-align: center;
        background-color: rgb(43, 43, 43);
        color: white;
        border-radius: 100px;
        box-shadow: 2px 2px 5px 5px rgba(6, 6, 6, 0.609);

        mat-icon{
            transform: scale(3);
        }

    }
}

@media (min-width:769px) {
    :host{
        padding-inline: 6em;
        width: 100%;
        display: grid;
        grid-template-areas:"image empty"
                            "image profile"
                            "image title"
                            "image subtitle";
        grid-template-columns: min-content 100%;
        grid-column-gap: 3em;
        max-width: 100%;
    .profile{
        grid-area: profile;
    }
    .country{
        grid-area: subtitle;
    }
    .user-image{
        grid-area: image;
    }
    h1{
        grid-area: title;
        max-width: 40vw;
        font-size: 4rem;
    }

    }
}

@media (min-width:1220) {
  :host{
    h1{
        max-width: 80vw!important;
    }
  }
}