h2{
    color: white;
    font-weight: 600;
}

.cards{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 4em;
    align-self: center;
    padding-bottom: 1em;
    scroll-margin: 10px;
}