@import "_variables.scss";


:host{
    display: inline-block;
    width: 150px;
}


mat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    img{
        width: 100%;
        height: fit-content;
        object-fit: cover;
        height: 100%;
        max-height: 190px;
        border-radius: 100px;
        max-width: 180px;
        
    }

    h2{
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
        width: max-content;
        max-width: 100%;
    }

    mat-icon{
        position: absolute;
        right: 15px;
    }

    mat-icon:hover{
        transform: scale(1.5);
    }
}

@media (min-width:420px) {
    :host{
        width: 140px;
    }
}

@media (min-width:769px) {
    :host{
        width: 230px;
    }
    mat-card{
        min-height: 260px;
        img{
            min-height: 130px;
            height: 200px ;
            width: 200px ;
        }
    }
}