<div class="min-h-full grid grid-rows-[250px_1fr] md:grid-rows-[350px_1fr] lg:grid-rows-2">
  <div class="track-information max-w-10 grid grid-cols-6 grid-rows-1 lg:grid-rows-2 gap-5 p-5 pt-10 bg-gradient-to-t from-slate-800 to-slate-700">
    <ng-container *ngIf="track$ | async as track">
      <div class="col-span-2 row-span-2 self-center sm:self-start md:self-end">
        <img [src]="getImage(track)" class="image-track" />
      </div>
      <div class="col-span-4 lg:row-start-2 col-start-3 self-center sm:self-start md:self-end flex flex-col justify-around text-white">
        <div class="font-extrabold">Song</div>
        <div class="title font-extrabold text-4xl pb-3">{{ track.name }}</div>
        <div>
          <span [routerLink]="['/album', track.album.id]" class="font-semibold hover:underline cursor-pointer">{{ track.album.name }}</span>
        </div>
        <div class="artists">
          <span class="font-semibold">{{ track.artists | listArtists }}</span>
          <span class="mx-1 font-semibold align-middle">•</span>
          <span class="">{{ track.album.release_date | date: 'yyyy' }}</span>
          <span class="mx-1 font-semibold align-middle">•</span>
          <span>{{ track.duration_ms | date: 'mm:ss' }}</span>
        </div>
      </div>
    </ng-container>
  </div>

  <section class="m-0 p-[16px] h-full pt-10 bg-opacity-60 bg-gradient-to-t from-black to-slate-800">
    <app-audio-player class="audio-player" *ngIf="track$ | async as track" [musicURL]="track.preview_url"></app-audio-player>

    <div *ngIf="track$ | async as track" class="flex flex-row justify-center gap-5">
      <button
        [color]="isSaved?'warn':'accent'"
        (click)="clickFollowButton(track)"
        [disabled]="loading"
        mat-raised-button
        class="follow-button text-xl font-semibold flex flex-row justify-center items-center"
      >
        <mat-icon class="inline-block sm:hidden sm:mr-2">{{isSaved?'delete':'favorite'}}</mat-icon>
        <span class="hidden sm:inline-block">{{isSaved?'Delete Playlist':'Save Playlist'}}</span>
      </button>
    </div>
  </section>
</div>
