<div class="min-h-full grid grid-rows-[250px_1fr] md:grid-rows-[350px_1fr] lg:grid-rows-[500px_1fr] xl:grid-rows-[700px_1fr]">
  <div class="album-information max-w-96 grid grid-cols-6 grid-rows-1 lg:grid-rows-2 gap-5 p-5 pt-10 bg-gradient-to-t from-slate-800 to-slate-700">
    <ng-container *ngIf="album$ | async as album">
      <div class="col-span-2 row-span-2 self-center sm:self-start md:self-end">
        <img [src]="getImage(album)" class="image-album" />
      </div>
      <div class="col-span-4 lg:row-start-2 col-start-3 self-center sm:self-start md:self-end flex flex-col justify-around text-white">
        <div class="font-extrabold">{{ album.type | uppercase }}</div>
        <div class="title font-extrabold text-5xl md:text-7xl pb-3">{{ album.name }}</div>
        <div class="artists">
          <span class="font-semibold">{{ album.artists | listArtists }}</span>
          <span class="mx-1 font-semibold align-middle">•</span>
          <span class="">{{ album.release_date | date: 'yyyy' }}</span>
          <span class="mx-1 font-semibold align-middle">•</span>
          <span class="">{{ album.total_tracks }} songs</span>
          <span class="mx-1 font-semibold align-middle">•</span>
          <span *ngIf="album.tracks">{{ album | albumTotalDuration | secondTrackMusic: true }}</span>
        </div>
      </div>
    </ng-container>
  </div>

  <section class="m-0 p-[16px] h-full pt-10 bg-opacity-60 bg-gradient-to-t from-black to-slate-800">
    <div *ngIf="album$ | async as album" class="flex flex-row justify-center gap-5">
      <button
        color="accent"
        [disabled]="isAlbumSaved"
        (click)="saveAlbum(idAlbum, album)"
        mat-raised-button
        class="save-button text-xl font-semibold flex flex-row justify-center items-center"
      >
        <mat-icon class="inline-block sm:hidden sm:mr-2">favorite</mat-icon>
        <span class="hidden sm:inline-block">Save Album</span>
      </button>
      <button color="warn" [disabled]="!isAlbumSaved" (click)="deleteAlbum(idAlbum)" mat-raised-button class="delete-button text-xl font-medium">
        <mat-icon class="inline-block sm:hidden sm:mr-2">delete</mat-icon>
        <span class="hidden sm:inline-block">Delete Album</span>
      </button>
    </div>

    <ng-container *ngIf="album$ | async as album">
      <app-tracks-list [tracks]="album.tracks.items"></app-tracks-list>
    </ng-container>
  </section>
</div>
