<mat-card class="h-[95%] bg-gradient-to-tl from-emerald-900 to-slate-800 hover:from-pink-500 hover:to-yellow-500" *ngIf="musicData">
  <div class="flex flex-col relative text-left max-h-1/4 max-w-[360px]">
    <img [src]="musicData.imageUrl" class="image-card mb-7 max-h-[337px]" />
    <mat-card-header class="flex flex-row justify-start ml-[-16px] truncate">
      <mat-card-title class="underline">
        {{ musicData.title | titleCardTruncate }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col justify-center">
      <ng-container *ngIf="musicData.artist">
        <span class="artist text-bold"> {{ musicData.artist }} </span>
      </ng-container>
      <ng-container *ngIf="musicData.description">
        <div class="description overflow-hidden pointer-events-none" [innerHTML]="musicData.description"></div>
      </ng-container>
      <div class="date-duration text-gray-400">{{ musicData.date | date }} {{ musicData.duration }}</div>
    </mat-card-content>
  </div>
</mat-card>
