<app-profile  *ngIf="user$ | async as user" [user]="user"></app-profile>
<div class="flexs-container">
    <app-card-flex name="Top Tracks" *ngIf="topUserTracks$ | async as tracks">
        <app-track-card *ngFor="let track of tracks" [buttons]="true"[track]="track" class="card"></app-track-card>
    </app-card-flex>
    <app-card-flex name="Top Artists" *ngIf="topUserArtists$ | async as artists">
        <app-artist-card *ngFor="let artist of artists" [buttons]="true" [artist]="artist" class="card"></app-artist-card>
    </app-card-flex>
</div>